<html>
<head>
<script src="/js/quizAttempt.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/quizAttempt.css" >
</head>
<body>
<div id="app_header">
	Pariksha-NITC
</div>
<div id="details">
	Quiz 1
</div>
<nav id="navbar">
	<button id="exit-eval" style="width: 10ch;" class="navbar_items">Exit</button>
	<button class="navbar_items" onclick="toggleRightPanel();" >Qns Panel</button>
	<button class="navbar_items" onclick="alert('Instructions');" >Instructions</button>
</nav>

<!-- <div id = "right_panel"> -->
	<!-- <button class="close_button" onclick="hideRightPanel();" style="display:none;" >Close </button> -->
<div id ="main_area">
		<div id="question_type_area">
			<span class="student-info">
				<b>Time taken:</b> 
				{{#ifne duration.min 0}}
					{{duration.min}} minutes 
				{{/ifne}}
				{{#ifne duration.sec 0}}
					{{duration.sec}} seconds
				{{/ifne}}
			</span>
		</div>
		<div id="question_type_area">Question type: {{question.type}}</div>
		<!--div style="border-bottom:12 px solid black;"-->
		<div id="question_description" style="background-color: rgba(175, 0, 0, 0.3);border:10 px solid black;background-color:white;">Question {{#inc}}{{currentQnNumber}}{{/inc}}<br><br>
			{{question.question}}
			<form id="question_form" method="post" action="/student/navigate">
			<input type="hidden" name="qzcode" value="{{qzcode}}">
			</form>
			{{#ife question.type 'mcq'}}
				{{#each question.options}}
					<p><input type="radio" name="ans" value="{{@index}}" {{#if ../ans}}{{#ife @index ../ans}}checked="true"{{else}}disabled{{/ife}}{{else}}disabled{{/if}}>{{.}}</p>
				{{/each}}
			{{/ife}}
			{{#ife question.type 'msq'}}
				{{#each question.options}}
					<p><input type="checkbox" name="ans" value="{{@index}}" {{#if ../ans}}{{#in @index ../ans}}checked="true"{{else}}disabled{{/in}}{{else}}disabled{{/if}}>{{.}}</p>
				{{/each}}
			{{/ife}}
			
		</div>
		<div id="Marks_section">
		<br><br><br><br>
			<div style="//background-color:white;">Marks {{question.marks}}</div><br>
			<!--Bookmark qn &nbsp; <i class="fa fa-bookmark" id="edit" style="cursor:pointer;color:grey;"></i>-->
		</div>
		<!--/div-->
		
			<div id="response_panel">
					{{#ife question.type 'subjective'}}
						<div style="margin-top:0.5%;0%;letter-spacing:1px;">Your response</div>
						<textarea name="ans" disabled rows="7" cols="135" style="margin-bottom:5%;padding:0.5%;background-color:white;">{{#if ans}}{{ans}}{{/if}}</textarea>
					{{else}}
						<div style="margin-top:0.5%;0%;letter-spacing:1px;">Your comments</div>
						<textarea name="comment" disabled rows="7" cols="135" style="margin-bottom:5%;padding:0.5%;background-color:white;"></textarea>
					{{/ife}}
					
			
			</div>
		
		<div id="action_area">
			<button class = "action_items" onclick="addToForm(this)">Previous</button><input type="hidden" name="toQnum" value="{{#dec}}{{currentQnNumber}}{{/dec}}">
			<button class = "action_items" onclick="addToForm(this)">Next</button><input type="hidden" name="toQnum" value="{{#inc}}{{currentQnNumber}}{{/inc}}">
		</div>
		
</div>

	<div id="right_panel">
		<div id = "time_panel">
			<div style="background-color:c6e2ff;border-bottom:1px solid black;">Time left</div>
			
			00:00:00
		</div>
		<br><br>
		<div style="background-color:#c6e2ff;border:1px solid black;text-align:center">Questions Palette</div>
		<div id="questions_panel">{{#loop numiter}}<button class="qn_button" onclick="addToForm(this)">{{#inc}}{{this}}{{/inc}}</button><input type="hidden" name="toQnum" value="{{this}}">{{/loop}}
		</div>
		
	</div>
	
</div>
<script>
	
	document.querySelector('#exit-eval').addEventListener('click', () => {
		location.href = "/student/viewQuiz?qzcode={{qzcode}}";
	});
	
</script>
<!-- </div> -->
</body>
</html>