<html>
<head>
<script>
function toggleRightPanel()
{
	if(document.getElementById("right_panel").style.display=="inline")
	{
		document.getElementById("right_panel").style.display="none";
		document.getElementById("questions_panel").style.display="grid";
		document.getElementById("main_area").style.width="100%";
		//document.getElementById("response_panel").style.width="100%";
		//document.getElementById("response_panel").style.height="17%";
	}
	else
	{
		document.getElementById("right_panel").style.display="inline";
		document.getElementById("questions_panel").style.display="grid";
		document.getElementById("main_area").style.width="79.25%";
		//document.getElementById("response_panel").style.width="20%";
		//document.getElementById("response_panel").style.margin_top="5%";
		
		
	}
}
function hideRightPanel()
{
	document.getElementById("right_panel").style.display="none";
	document.getElementById("question_area").style.width="100%";
}
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
	margin: 0px;
}
#right_panel{
	display: inline;
	border-left:2px solid black;
	border-bottom:2px solid black;
	background-color:white;
	width:20.4%;
	//align-content:center;
	float:right;
	height:74%;
	z-index: 2;
}
#questions_panel{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap:8%;
	row-gap:2%;
	//background-color:white;
	//align-content:center;
	//height:30%;
	z-index: 3;
	//border-bottom:2px solid black;
	margin-top:8px;
	padding:5px;
	padding-bottom:10%;
	overflow:auto;
}
.qn_button{
background-color:#e9e9e9;
//flex: 0 1 21%;
	border : 1px solid grey;
	padding:15px;
	margin:4px;
	border-radius:10px 0px 0px 0px;
	text-align:center;
	height:85%;
	width:85%;
	cursor:pointer;
	box-shadow : 5px 5px 5px lightgrey;
}
.qn_button:hover{
//transition-duration:0.05s;
	font-size:17px;
	margin:0px;
	//background-color:#f1f1e7;
	box-shadow : 7px 7px 5px lightgrey;
}
#navbar{
	display: flex;
	flex-direction:row-reverse;
	//position: sticky;
    background-color: #d6d6ef;
	border-bottom:1px solid black;
    background-color:#dccae0;
	//border-top:0px;
    //top: 0;
    height: clamp(55px, 10vh, 55px);
    
}
.navbar_items{
	margin:10px;
	border-radius:25px;
	border: 1px solid #3333cc;
	color:#3333cc;
	cursor:pointer;
}
.navbar_items:hover{
	background-color: #3333cc;
	font-size:16px;
	color:white;
}
.titlebar_items{
	margin-right:15px;
	margin-bottom:2px;
	padding:7px;
	border-radius:15px;
	border: 1px solid #3333cc;
	color:#3333cc;
	cursor:pointer;
}
.titlebar_items:hover{
	background-color: #3333cc;
	font-size:12px;
	color:white;
}
#app_header{
	background-color:#d6d6f5;
	color:#3333cc;
	height: clamp(45px, 9vh, 55px);
	text-transform:uppercase;
	font-size:20px;
	letter-spacing:2px;
	text-align:center;
	padding-top:15px;
	//padding-bottom:20px;
	font-family:sans-serif;
	//border-bottom: 1px solid black;
}
#details{
	background: rgba(175, 50, 80, 0.2);
	color:black;
	height: clamp(35px, 8vh, 35px);
	font-size:17px;
	padding-top:15px;
	padding-left:3%;
	margin:0px;
	font-family:sans-serif;
}
#main_area{
	//background-color:#ffffed;
	height:75%;
	width:79.25%;
	float:left;
	//margin-bottom:5%;
	//padding:10px;
	//border-bottom: 5px solid black;
	z-index:1;
	
}
#question_type_area{
	padding:10px;
	border-bottom: 1px solid black;
	
}
#question_description{
	padding:1%;
	word-wrap:break-word;
	//padding-right:25%
	height:35%;
	width:78%;
	//border:2px solid black;
	float:left;
	height:48%;
	//margin:15%;
	//margin-top:50%;
	overflow:auto;
}
#time_panel{
	text-align:center;
	border-bottom:2px solid black;
	//border: 2px solid black;
}
#action_area{
	padding:10px;
	display:flex;
	//margin-top:1%;
	border-top: 2px solid black;
	float:down;
	//justify-content:left;
	gap :10px;
	z-index:1;
	//width:77.85%;
	//position:static;
	border-bottom: 2px solid black;
}
#action_items{
	
}
#response_panel
{
	clear:both;
	//margin-top:21.5%;
	margin-bottom:0%;
	padding:0.5%;
	background-color:#dccae0;
	height:28%;
	z-index:1;
	width:99%;
}
#Marks_section{
	padding:1%;
	float:right;
	text-align:center;
	height:41%;
	z-index:2;
	width:18%;
	margin-top:1.2%;
	background-color:rgba(0,120,120,0.1);
}
</style>
</head>
<body>
<div id="app_header">
	Pariksha-NITC
</div>
<div id="details">
	Quiz 1
	<button class="titlebar_items" style="float:right;" onclick="confirmSubmission();">Submit</button>
</div>
<nav id="navbar">
	<button class="navbar_items" onclick="toggleRightPanel();" >Qns Panel</button>
	<button class="navbar_items" onclick="alert('Instructions');" >Instructions</button>
</nav>

<!-- <div id = "right_panel"> -->
	<!-- <button class="close_button" onclick="hideRightPanel();" style="display:none;" >Close </button> -->
<div id ="main_area">
		<div id="question_type_area">Question type: {{question.type}}</div>
		<!--div style="border-bottom:12 px solid black;"-->
		<div id="question_description" style="background-color: rgba(175, 0, 0, 0.3);border:10 px solid black;background-color:white;">Question {{#inc}}{{currentQnNumber}}{{/inc}}<br><br>
			{{question.question}}
			<form id="question_form" method="post" action="/student/saveAndNavigate">
			{{#ife question.type 'mcq'}}
				{{#each question.options}}
					<p><input type="radio" name="ans" value="{{@index}}" {{#if ../ans}}{{#ife @index ../ans}}checked="true"{{/ife}}{{/if}}>{{.}}</p>
				{{/each}}
			{{/ife}}
			{{#ife question.type 'msq'}}
				{{#each question.options}}
					<p><input type="checkbox" name="ans" value="{{@index}}" {{#if ../ans}}{{#in @index ../ans}}checked="true"{{/in}}{{/if}}>{{.}}</p>
				{{/each}}
			{{/ife}}
			
		</div>
		<div id="Marks_section">
		<br><br><br><br>
			<div style="//background-color:white;">Marks {{question.marks}}</div><br>
			<!--Bookmark qn &nbsp; <i class="fa fa-bookmark" id="edit" style="cursor:pointer;color:grey;"></i>-->
		</div>
		<!--/div-->
		
			<div id="response_panel">
					{{#ife question.type 'subjective'}}
						<div style="margin-top:0.5%;0%;letter-spacing:1px;">Your response</div>
						<textarea name="ans" rows="7" cols="135" style="margin-bottom:5%;padding:0.5%;background-color:white;">{{#if ans}}{{ans}}{{/if}}</textarea>
					{{else}}
						<div style="margin-top:0.5%;0%;letter-spacing:1px;">Your comments</div>
						<textarea name="comment" rows="7" cols="135" style="margin-bottom:5%;padding:0.5%;background-color:white;"></textarea>
					{{/ife}}
					
			
			</div>
		</form>
		<div id="action_area">
			<button class = "action_items" onclick="addToForm(this)">Previous</button><input type="hidden" name="toQnum" value="{{#dec}}{{currentQnNumber}}{{/dec}}">
			<button class = "action_items" onclick="addToForm(this)">Save and Next</button><input type="hidden" name="toQnum" value="{{#inc}}{{currentQnNumber}}{{/inc}}">
			<button class = "action_items" onclick="addToForm(this)">Mark for Review and Next</button><input type="hidden" name="toQnum" value="{{#inc}}{{currentQnNumber}}{{/inc}}">
			<button class = "action_items" onclick="document.getElementById('question_form').reset()">Clear response</button>
	</div>
		
</div>

	<div id="right_panel">
		<div id = "time_panel">
			<div style="background-color:c6e2ff;border-bottom:1px solid black;">Time left</div>
			<div class="timer"></div>
		</div>
		<br><br>
		<div style="background-color:#c6e2ff;border:1px solid black;text-align:center">Questions Palette</div>
		<div id="questions_panel">{{#each questions}}<button class="qn_button" onclick="addToForm(this)">{{#inc}}{{@index}}{{/inc}}</button><input type="hidden" name="toQnum" value="{{@index}}">{{/each}}
		</div>
		
	</div>
	
</div>
<script>
	function addToForm(node)
	{
		let qform = document.getElementById("question_form");
		//alert(qform);
		let navinp = node.nextSibling;
		//navinp.setAttribute("value",node.innerHTML);
		qform.appendChild(node.nextSibling);

		//alert(qform.lastChild.getAttribute("type"));
		qform.submit();
	}
	function confirmSubmission(node)
	{
		if (confirm('Once submitted you will not be able to continue attempt'))
		{
			let qform = document.getElementById("question_form");
			qform.setAttribute('action','/student/saveAndEnd');
			qform.submit();
		}
	}
	class Time{
    hour;
    minute;
    sec;
}

function timer(totalTime, startTime){
    let currTime = Date.now();
    let timeElapsed = currTime - startTime;
	
    let left = new Time();

    left.hour = 0;
    left.minute = 0;
    left.sec = 0;
    let timeRemainingSec = (totalTime - timeElapsed)/1000 + 1;

    if(timeRemainingSec <= 0){
        return left;
    }
    

    left.hour = Math.floor(timeRemainingSec / (60 * 60));
    left.minute = Math.floor(timeRemainingSec / 60 - left.hour * 60);
    left.sec = Math.floor(timeRemainingSec - left.minute * 60 - left.hour * 60 * 60); 

    return left;

}


function beautifyTime(hr, min, sec){
    let prettyTime = "";
    prettyTime += (hr.toString().padStart(2, "0")) + ":";
    prettyTime += (min.toString().padStart(2, "0")) + ":";
    prettyTime += (sec.toString().padStart(2, "0"));
    return prettyTime;
}



let timerSetInterval = setInterval(() => {
	//console.log('{{quizTime}}');
  let left = timer('{{quizTime}}', '{{timeNow}}');
  // console.log(hr);
  if(left.hour == 0 && left.minute == 0 && left.sec == 0){
    clearInterval(timerSetInterval);
	
	}

    let time = document.querySelector(".timer");
  time.innerHTML = beautifyTime(left.hour, left.minute, left.sec);}, 1000);

</script>
	/*function appendQnNo(node)
	{
		//onsubmit="appendQnNo(this)"
		//<input type="hidden" name="qnum" value="{{@index}}">
		let cn = node.firstChild;
		let qnum = cn.innerHTML;
		let action = node.getAttribute('action');
		let qnlink = (action + qnum);
		node.setAttribute('action',qnlink);
		node.submit();
		
	}*/
</script>
<!-- </div> -->
</body>
</html>