<html>

<head>
	<script type="text/Javascript" src="/js/quizAttempt.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/quizAttempt.css">
</head>

<body>
	<div id="app_header">
		Pariksha-NITC
	</div>
	<div id="details">
		Quiz 1
		<button class="titlebar_items" style="float:right;" onclick="confirmSubmission();">Submit</button>
	</div>
	<nav id="navbar">
		<button class="navbar_items" onclick="toggleRightPanel();">Qns Panel</button>
		<button class="navbar_items" onclick="alert('Instructions');">Instructions</button>
	</nav>

	<!-- <div id = "right_panel"> -->
	<!-- <button class="close_button" onclick="hideRightPanel();" style="display:none;" >Close </button> -->
	<div id="main_area">
		<div id="question_type_area">Question type: {{question.type}}</div>
		<!--div style="border-bottom:12 px solid black;"-->
		<div id="question_description"
			style="background-color: rgba(175, 0, 0, 0.3);border:10 px solid black;background-color:white;">Question
			{{#inc}}{{currentQnNumber}}{{/inc}}<br><br>
			{{question.question}}
			<form id="question_form" method="post" action="/student/saveAndNavigate">
				{{#ife question.type 'mcq'}}
				{{#each question.options}}
				<p><input type="radio" name="ans" value="{{@index}}" {{#if ../ans}}{{#ife @index ../ans}}checked="true"
						{{/ife}}{{/if}}>{{.}}</p>
				{{/each}}
				{{/ife}}
				{{#ife question.type 'msq'}}
				{{#each question.options}}
				<p><input type="checkbox" name="ans" value="{{@index}}" {{#if ../ans}}{{#in @index
						../ans}}checked="true" {{/in}}{{/if}}>{{.}}</p>
				{{/each}}
				{{/ife}}

		</div>
		<div id="Marks_section">
			<br><br><br><br>
			<div style="//background-color:white;">Marks {{question.marks}}</div><br>
			<!--Bookmark qn &nbsp; <i class="fa fa-bookmark" id="edit" style="cursor:pointer;color:grey;"></i>-->
		</div>
		<!--/div-->

		<div id="response_panel">
			{{#ife question.type 'subjective'}}
			<div style="margin-top:0.5%;0%;letter-spacing:1px;">Your response</div>
			<textarea name="ans" rows="7" cols="135"
				style="margin-bottom:5%;padding:0.5%;background-color:white;">{{#if ans}}{{ans}}{{/if}}</textarea>
			{{else}}
			<div style="margin-top:0.5%;0%;letter-spacing:1px;">Your comments</div>
			<textarea name="comment" rows="7" cols="135"
				style="margin-bottom:5%;padding:0.5%;background-color:white;"></textarea>
			{{/ife}}


		</div>
		</form>
		<div id="action_area">
			<button class="action_items" onclick="addToForm(this)">Previous</button><input type="hidden" name="toQnum"
				value="{{#dec}}{{currentQnNumber}}{{/dec}}">
			<button class="action_items" onclick="addToForm(this)">Save and Next</button><input type="hidden"
				name="toQnum" value="{{#inc}}{{currentQnNumber}}{{/inc}}">
			<button class="action_items" onclick="addToForm(this)">Mark for Review and Next</button><input type="hidden"
				name="toQnum" value="{{#inc}}{{currentQnNumber}}{{/inc}}">
			<button class="action_items" onclick="document.getElementById('question_form').reset()">Clear
				response</button>
		</div>

	</div>

	<div id="right_panel">
		<div id="time_panel">
			<div style="background-color:c6e2ff;border-bottom:1px solid black;">Time left</div>
			<div class="timer"></div>
		</div>
		<br><br>
		<div style="background-color:#c6e2ff;border:1px solid black;text-align:center">Questions Palette</div>
		<div id="questions_panel">{{#each questions}}<button class="qn_button"
				onclick="addToForm(this)">{{#inc}}{{@index}}{{/inc}}</button><input type="hidden" name="toQnum"
				value="{{@index}}">{{/each}}
		</div>

	</div>

	</div>
	<script>

		class Time {
			hour;
			minute;
			sec;
		}
		function timer(totalTime, startTime) {
			let currTime = Date.now();
			let timeElapsed = currTime - startTime;

			let left = new Time();
			left.hour = 0;
			left.minute = 0;
			left.sec = 0;
			let timeRemainingSec = (totalTime - timeElapsed) / 1000 + 1;
			if (timeRemainingSec <= 0) {
				return left;
			}

			left.hour = Math.floor(timeRemainingSec / (60 * 60));
			left.minute = Math.floor(timeRemainingSec / 60 - left.hour * 60);
			left.sec = Math.floor(timeRemainingSec - left.minute * 60 - left.hour * 60 * 60);
			return left;
		}
		function beautifyTime(hr, min, sec) {
			let prettyTime = "";
			prettyTime += (hr.toString().padStart(2, "0")) + ":";
			prettyTime += (min.toString().padStart(2, "0")) + ":";
			prettyTime += (sec.toString().padStart(2, "0"));
			return prettyTime;
		}
		let timerSetInterval = setInterval(() => {
			let left = timer('{{quizTime}}', '{{timeNow}}');
			// console.log(hr);
			if (left.hour == 0 && left.minute == 0 && left.sec == 0) {
				clearInterval(timerSetInterval);

			}
			let time = document.querySelector(".timer");
			time.innerHTML = beautifyTime(left.hour, left.minute, left.sec);
		}, 1000);
	</script>
	<!-- </div> -->
</body>

</html>